/*
 * bbPress forum styles
 */
 
/* ----------------------------------
---------       FORUM      ----------
---------------------------------- */


.forum-content thead {
	color: #808080;
	font: italic normal 12px/36px Georgia, serif;
}

.forum-content td,
.topics td {
	border-top: 1px solid #f0f0f0;
}

.forum-content table {
	border-bottom: 1px solid #f0f0f0;
}

.bbp-single-user .topics .topic-action,
.bbp-single-user .topics .topic-title {
	padding-right: 35px;
}

.forum-content table:last-child {
	border-bottom-width: 0;
}

.topics tr.even,
.child-forums tr.even {
	background: #fafafa;
}

.forum-pagination {
	border-bottom: 1px solid #f0f0f0;
	padding: 18px 35px;
	margin: 0;
}

.tabs-content .forum-pagination {
	margin: 0;
}

.forum-pagination:last-child {
	border-bottom-width: 0;
}

.forum-pagination .forum-pagination-links {
	float: right;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.forum-pagination .page-numbers {
	padding: 0 6px;
}

.forum-pagination .page-numbers:last-child {
	padding-right: 0;
}

.forum-content .forum-title {
	font-size: 18px;
}

.forum-content a.forum-title,
.forum-content .sub-forums-list a,
.topics .topic-title > a {
	color: #333333;
	font-weight: bold;
}

.forum-content a.forum-title:hover,
.forum-content .sub-forums-list a:hover,
.topics .topic-title a:hover {
	color: #4d4d4d;
}

.forum-content a.forum-title:active,
.forum-content .sub-forums-list a:active,
.topics .topic-title a:active {
	color: #1a1a1a;
}

.forum-content .sub-forums-list {
	margin: 0;
}

.forum-content .sub-forum {
	display: block;
	float: left;
	line-height: 36px;
	margin-right: 18px;
}

.forum-content .sub-forum .bbp-forum-link {
	background: transparent url(../images/icons.png) no-repeat left -2427px;
	padding-left: 18px;
}

.forum-content .forum-description p:last-child {
	margin-bottom: 0;
}

td.forum-topic-count,
td.forum-reply-count,
td.forum-freshness,
td.topic-author,
td.topic-reply-count,
td.topic-freshness {
	font-size: 12px;
}

td.forum-freshness,
td.topic-author,
td.topic-freshness {
	font-weight: bold;
}

.forum-freshness,
.topic-author,
.topic-freshness {
	overflow: hidden;
	width: 110px;
}

.topics td.topic-title {
	font-size: 16px;
}

.topic-title .forum-icon {
	margin: 0 6px 0 0;
}

.topic-title p.topic-meta {
	padding: 0;
	margin-bottom: 0;
}

.topics .topic-status {
	font-size: 11px;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	margin: 0;
	width: 100px;
	padding: 0 10px;
}

.topics .topic-status-info {
	width: 120px;
	padding-right: 12px;
	vertical-align: middle;
}

.forum-icon {
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	display: block;
	float: left;
	margin-right: 10px;
	height: 18px;
	line-height: 18px;
	width: 16px;
	opacity: 1;
	
	-ms-transition: opacity .15s ease-in, color 0.2s;
	-webkit-transition: opacity .15s ease-in, color 0.2s;
	-moz-transition: opacity .15s ease-in, color 0.2s;
	-o-transition: opacity .15s ease-in, color 0.2s;
	transition: opacity .15s ease-in, color 0.2s;
}

.forum-admin-icon {
	display: block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	height: 18px;
	margin-right: 14px;
	overflow: hidden;
	position: relative;
}

.forum-admin-icon:before {
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	content: ' ';
	display: block;
	float: left;
	height: 18px;
	width: 16px;
	margin-right: 6px;
}

.forum-admin-icon .text {
	position: absolute;
	top: 0;
	left: 22px;
}

.closed-icon {
	background-position: center -266px;
}

.sticky-icon {
	background-position: center -806px;
}

.fav-icon {
	background-position: center -914px;
}

.subscribe-icon {
	background-position: center -590px;
}

.comment-icon {
	background-position: center -1022px;
}

.inactive .forum-icon {
	opacity: .3;
}

.inactive:hover .forum-icon,
.waiting .forum-icon {
	opacity: .3;
}

.edit-icon:before {
	background-position: center -1346px;
}

.merge-icon:before {
	background-position: center -1130px;
}

.split-icon:before {
	background-position: center -1238px;
}

.trash-icon:before {
	background-position: center -1454px;
}

.spam-icon:before {
	background-position: center -1670px;
}

.delete-icon:before {
	background-position: center -1562px;
}

.restore-icon:before {
	background-position: center -1778px;
}

.unspam-icon:before {
	background-position: center -1886px;
}

.topic-status {
	border: 1px solid;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 34px;
	margin-bottom: 18px;
	width: auto;
	line-height: 34px;
	text-align: center;
	text-transform: uppercase;
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
	-moz-text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

.topic-status:hover {
	text-decoration: none;
}

span.topic-status:hover {
	cursor: default;
}

.topic-status.resolved {
	background-color: #e8f7d2;
	border-color: #cbd9b8;
	color: #89b274;
}

.topic-status.unresolved {
	background-color: #f7edc6;
	border-color: #d9d0ad;
	color: #bfb27c;
	
	-moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.topic-status.not-support {
	background-color: #f7f7f7;
	border-color: #d9d9d9;
	color: #b2b2b2;
	
	-moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.topic-status.announcement {
	background-color: #d2e4f7;
	border-color: #b8c8d9;
	color: #7c9dbf;
	
	-moz-text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
}

/* Single topic */
.bbp-topic-info {
	margin-bottom: 18px;
	border-bottom: 1px solid #ffffff;
}

.bbp-topic-info .topic-info-item,
.bbp-topic-info .topic-post-count {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e8e8e8;
	display: block;
	float: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 8px 0 8px 26px;
	position: relative;
	width: auto;
}

.bbp-topic-info .topic-info-item:first-child,
.bbp-topic-info .topic-post-count:first-child {
	border-top-color: transparent;
}

.bbp-topic-info span.topic-info-item,
.bbp-topic-info span.topic-post-count {
	color: #808080;
}

.bbp-topic-info .topic-info-item .forum-icon,
.bbp-topic-info .topic-post-count .forum-icon {
	float: none;
	position: absolute;
	left: 0;
}

.topic-info-item.fav-item {
	color: #c1716a;
}

.bbp-topic-tags {
	list-style: none none;
}

.single .bbp-topic-tag {
	font-size: 12px;
	float: left;
	margin: 0 4px 4px 0;
}

.single .bbp-topic-tag a {
	background: #ffffff;
	border: 1px solid #e8e8e8;
	color: #808080;
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 26px;
	padding: 0 12px;
	width: auto;
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.single .bbp-topic-tag a:hover {
	color: #333333;
}

.bbp-post {
	border-bottom: 1px solid #e8e8e8;
	padding: 36px 35px 35px;
}

.bbp-post:last-child {
	border-bottom-color: transparent;
}

.bbp-post .bbp-post-author-avatar {
	float: left;
	margin-right: 36px;
	width: 90px;
}

.bbp-post .avatar {
	margin-bottom: 0;
}

.bbp-post .bbp-reply-ip {
	color: #888888;
	font-size: 11px;
	padding-top: 18px;
	text-align: center;
}

.bbp-post .bbp-post-content {
	float: right;
	width: 527px;
}

.bbp-post-info .bbp-post-author {
	float: left;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 18px;
}

.bbp-post-info .bbp-post-date {
	float: right;
	font-size: 11px;
	margin-bottom: 18px;
}

.bbp-post-info .bbp-post-date small {
	font-size: 10px;
}

.bbp-reply-revision-log {
	color: #808080;
	font-size: 10px;
	list-style: none none;
}

.bbp-reply-revision-log .avatar {
	display: inline-block;
	margin-bottom: -6px;
	padding: 1px;
}

.bbp-reply-revision-log-item {
	line-height: 18px;
	margin-bottom: 0;
}

.bbp-single-user .bbp-user-details {
	text-align: right;
}

.bbp-single-user .avatar {
	float: right;
}

.bbp-single-user .user-info h6 {
	color: #808080;
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
}

.bbp-single-user .user-status {
	text-transform: capitalize;
}

.topic-title p {
	margin-bottom: 0;
}

.bbp-single-user .topics tr:first-child td {
	border-top-width: 0;
}

.bbp-single-user .tab-content {
	width: 100%;
}

.js-ready .tab-content .hidden {
	display: none;
}

/* Forum forms */

#bbp-user-edit-form {
	padding: 0 35px;
}

.bbp-edit-page .bbp-topic-form {
	border-top-width: 0;
	padding-top: 0;
}

#bbp_user_edit_submit {
	margin-bottom: 0;
}

#pass-strength-result {
	font-weight: bold;
}

#pass-strength-result.short {
	color: #bf7069;
}

#pass-strength-result.bad {
	color: #bf9356;
}

#pass-strength-result.good {
	color: #bfaa56;
}

#pass-strength-result.strong {
	color: #71a66c;
}

.bbp-login-form {
	background: #ffffff;
	border: 1px solid #d2d2d2;
	margin: 36px auto;
	padding: 35px;
	width: 460px;
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
}

.bbp-login-form .bbp-template-notice {
	margin-top: 0;
}

.bbp-login-form input.submit {
	float: right;
	margin-bottom: 0;
}

.bbp-login-form .divider {
	border-bottom: 1px solid #f0f0f0;
	height: 0;
	margin: 36px -35px 35px;
}

.bbp-login-form .sign-in-text,
.bbp-login-form .register-text {
	float: right;
}

.bbp-login-form .lost-pass-text {
	float: left;
}

.bbp-login-form .bbp-remember-me {
	float: left;
	width: 40%;
	margin-bottom: 0;
	margin-top: 20px;
}

.bbp-login-form .bbp-submit-wrapper {
	margin-top: 20px;
}

#bbp-user-edit-form .half {
	float: left;
	margin-left: 40px;
	width: 306px;
}

#bbp-user-edit-form .full {
	margin-left: 40px;
}

.widget_display_replies ul li a:hover:after {
	content: '';
}


@media (max-width: 767px) {
	
	.topic-status,
	.topic-status-info {
		display: none;
	}
	
	.topic-meta-info .topic-status,
	.topic-meta-info .topic-status-info {
		display: block;
	}
	
	.topic-status-info + .topic-title {
		padding-left: 20px;
	}
	
	.forum-content thead {
		font-size: 10px;
	}
	
	.forum-content .forum-title {
		font-size: 15px;
	}
	
	.topics td.topic-title {
		font-size: 14px;
	}
	
	.topic-title .forum-icon {
		margin-right: 2px;
	}
	
	.forum-topic-count,
	.forum-reply-count,
	.topic-reply-count {
		text-align: center;
		width: auto;
	}
	
	.forum-freshness,
	.topic-freshness {
		width: auto;
	}
	
	.forum-reply-count {
		padding-right: 20px;
	}
	
	.bbp-post {
		padding: 20px;
	}
	
	.bbp-post .bbp-post-author-avatar {
		margin-right: 15px;
		width: auto;
	}
	
	.bbp-post .bbp-post-author-avatar .avatar,
	.bbp-single-user .avatar {
		width: 40px;
		height: 40px;
		padding: 1px;
	}
	
	.bbp-post .bbp-post-content {
		float: none;
		width: auto;
	}
	
	.bbp-post .bbp-post-content .bbp-post-info {
		height: 44px;
		line-height: 22px;
		margin-bottom: 18px;
	}
	
	.bbp-post-info .bbp-post-author {
		margin-bottom: 0;
		float: none;
	}
	
	.bbp-post-info .bbp-post-date {
		margin-bottom: 0;
		float: none;
	}
	
	.bbp-login-form {
		width: auto;
		padding: 20px 19px;
	}
	
	.bbp-login-form .divider {
		margin: 20px -19px;
	}
	
	.bbp-login-form .bbp-remember-me {
		float: none;
		width: auto;
	}
	
	.bbp-login-form .sign-in-text,
	.bbp-login-form .register-text,
	.bbp-login-form .lost-pass-text {
		float: none;
	}
	
	.bbp-single-user .user-name {
		line-height: 44px;
		margin-bottom: 18px;
	}
	
	.bbp-single-user .user-avatar {
		float: left;
		margin-right: 15px;
	}
	
	.bbp-single-user .avatar {
		float: none;
	}
	
	.bbp-single-user .bbp-user-details {
		text-align: left;
	}
	
	#bbp-user-edit-form {
		padding: 0 20px;
	}
	
	#bbp-user-edit-form .half,
	#bbp-user-edit-form .full {
		float: none;
		margin-left: 0;
		width: auto;
	}
	
}

@media (min-width: 768px) and (max-width: 979px) {
	
	.bbp-post {
		padding: 20px 19px 19px;
	}
	
	.bbp-post .bbp-post-author-avatar {
		margin-right: 15px;
		width: auto;
	}
	
	.bbp-post .bbp-post-author-avatar .avatar,
	.bbp-single-user .avatar {
		width: 40px;
		height: 40px;
		padding: 1px;
	}
	
	.bbp-post .bbp-post-content {
		float: none;
		width: auto;
	}
	
	.bbp-post .bbp-post-content .bbp-post-info {
		height: 44px;
		line-height: 22px;
		margin-bottom: 18px;
	}
	
	.bbp-post-info .bbp-post-author {
		margin-bottom: 0;
		float: none;
	}
	
	.bbp-post-info .bbp-post-date {
		margin-bottom: 0;
		float: none;
	}
	
	#bbp-user-edit-form {
		padding: 0 19px;
	}
	
	#bbp-user-edit-form .half {
		margin-left: 20px;
		width: 239px;
	}
	
	#bbp-user-edit-form .full {
		margin-left: 20px;
		width: auto;
	}
	
}

@media
(-webkit-min-device-pixel-ratio: 2),
(-moz-min-device-pixel-ratio: 2),
(min--moz-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-device-pixel-ratio: 2) {
	
	.forum-content .sub-forum .bbp-forum-link,
	.forum-icon,
	.forum-admin-icon:before {
		background-image: url(../images/icons_2x.png);
		background-size: 16px auto;
	}
	
}