*input {
	height: 16px;
}

*input,
*textarea {
	width: auto;
}

*#bbp-user-edit-form .row {
	width: 723px;
}

*#bbp-user-edit-form .half input {
	width: 276px;
	margin-left: -40px;
}

*#bbp-user-edit-form textarea {
	width: 623px;
}

*#header #login-form input {
	padding-top: 6px;
	padding-bottom: 6px;
}

*#header #login-form {
	padding-top: 0;
}

*#header .bbp-submit-wrapper input {
	height: 26px;
	line-height: 26px;
}

*.form-horizontal input,
*.form-horizontal textarea {
	width: 450px;
}

*.form-horizontal label input {
	width: auto;
	background: transparent;
	border-width: 0;
}

*div.checker {
	display: inline;
}